@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: Fabian;
    src: url(fonts/Fabian.otf);
}

body,
html {
    background-color: #e8a789;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Pacifico";
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #732335;
    padding: 2.5%;
    flex-wrap: wrap;
}

nav>a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

textarea,
textarea:focus {
    outline: none;
    font-size: 250%;
    min-height: 30vh;
    min-width: 40%;
    margin: 0 1%;
}

textarea,
textarea:disabled,
textarea:focus,
#key-text,
#input-area {
    background-color: #e8a789;
    color: #713d27;
    border: solid .3em #d99779;
}

#key-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
}

#input-div {
    margin: 0;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

#selected-link {
    text-decoration: underline;
}

#keyboard {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    max-width: 750px;
}

.center-div {
    display: flex;
    justify-content: center;
}

#input-area {
    display: block;
    margin: 0;
    border: solid .6em #d99779;
    min-height: 30vh;
    min-width: 40%;
}

#output-text {
    font-family: Fabian;
}

.substitution-button,
#space-button,
#backspace-button {
    outline: none;
    background-color: transparent;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    border: solid black 2px;
    margin: .15%;
}

img {
    pointer-events: none;
}

#yap-session {
    padding: 2em;
    font-size: 2em;
    text-align: center;
    color: #4c291a;
}