@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
    font-family: Cipher;
    src: url(fonts/Cipher.ttf);
}

body,
html {
    background-color: #e8a789;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Pacifico";
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #732335;
    padding: 2.5%;
    flex-wrap: wrap;
}

nav > a,
.dropdown-content > a,
.dropbtn {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
}

nav > a:hover {
    background-color: #541b27;
}

textarea,
textarea:focus {
    outline: none;
    font-size: 200%;
    min-height: 30vh;
    min-width: 40%;
    margin: 0 1%;
}

textarea,
textarea:disabled,
textarea:focus,
#key-text,
#input-area {
    background-color: #e8a789;
    color: #713d27;
    border: solid 0.3em #d99779;
}

#key-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
}

#input-div {
    margin: 0;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

#selected-link {
    text-decoration: underline;
}

#keyboard {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    max-width: 750px;
}

.center-div {
    display: flex;
    justify-content: center;
}

#input-area {
    display: block;
    margin: 0;
    border: solid 0.6em #d99779;
    min-height: 30vh;
    min-width: 40%;
}

#output-text {
    font-family: Cipher;
}

.substitution-button,
#space-button,
#backspace-button {
    outline: none;
    background-color: transparent;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 800;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    margin: 0.15%;
}

.substitution-button > img {
    pointer-events: none;
    width: 40px;
    height: 40px;
}

p {
    padding: 2em;
    font-size: 2em;
    text-align: center;
    color: #4c291a;
}

.bill {
    font-family: Cipher;
}

/* Dropdown Button */
.dropbtn {
    background-color: #732335;
    color: white;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #732335;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #9e344b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #541b27;
}
